<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.pradyotprakash.newattendanceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FingerprintAuthentication"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.application.pradyotprakash.newattendanceapp.pushnotification.TARGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EachSubjectStudentDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EachSubjectStudentMarks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtherSemesterDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtherSemesterEachSubjectStudentDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EachEventInformation"
            android:screenOrientation="portrait" />
    </application>

</manifest>